/* Actual HTML elements*/
body
{
	background-color: #2D3035;
}

ul
{
    text-align: left;
}

img
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}

a
{
    color: black;
    font-weight: 600;
}

a:hover
{
    color: #1f1f1f;
    font-weight: 600;
    text-decoration: none;
}

hr
{
    border: 0;
    height: 1px;
    background: #333;
}

/* text alignment classes */
.align-left
{
    text-align: left;
}

.align-right
{
    text-align: right;
}

.align-center
{
    text-align: center;
}

/* div classes */
.banner-image
{
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 20px;
    z-index: -1;
}

.banner-text
{
    position: absolute;
    bottom: 100px;
    width: 100%;
    color: #FFFFFF;
    font-family: monospace;
    font-size: 24px;
}

.banner-subtext
{
    position: absolute;
    bottom: 80px;
    width: 100%;
    color: #d6d6d6;
    font-family: monospace;
    font-size: 16px;
}

.header1
{
    font-size: 24px;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: "Arial", Arial, serif;
}

.header2
{
    font-size: 18px;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: "Arial", Arial, serif;
}

.header3
{
    font-size: 14px;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: "Arial", Arial, serif;
}

.content-area
{
	background-color: #ADADAD;
    display: block;
    min-height: 100%;
    width: 75%;
	margin-left: 12.5%;
	font-family: "Arial", Arial, serif;
    font-size: 14px;
    color: #2D3035;
    padding: 10px;
}

.content-area:after
{
    content: "";
    display: block;
}

.post-header
{
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
}

.navbar
{
	margin-left: 12.5%;
    margin-bottom: 5px;
}

.navbar > a
{
	color: #FFFFFF;
	font-size: 16px;
	font-family: monospace;
	text-decoration: none;
	margin-left: 5px;
}
.navbar > a:hover
{
	color: #C9C9C9;
}

.footer
{
    background-color: white;
    text-align: center;
}

.spacer-100px
{
    height: 100px;
    display: block;
}

/* clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
