/* Actual HTML elements*/
body
{
	background-color: #2D3035;
}

a
{
    color: black;
    font-weight: 600;
}

a:hover
{
    color: #1f1f1f;
    font-weight: 600;
    text-decoration: none;
}

hr
{
    border: 0;
    height: 1px;
    background: #333;
}

#assets
{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.asset-table
{
    border: 1px solid black;
}

.row
{
    height: 20px;
}

.cell1
{
    width: 15%;
    border: 1px solid black;
    color: black;
    font-family: monospace;
    font-size: 16px;
}

.cell2
{
    width: 8%;
    border: 1px solid black;
    color: black;
    font-family: monospace;
    font-size: 16px;
}

.cell3
{
    width: 8%;
    border: 1px solid black;
    color: black;
    font-family: monospace;
    font-size: 16px;
}

.yes
{
    background-color: hsl(120, 66%, 35%);
}

.no
{
    background-color: hsl(0, 100%, 35%);
}

.wip
{
    background-color: hsl(60, 100%, 35%);
}

.na
{
    background-color: #818181;
}

/* text alignment classes */
.align-left
{
    text-align: left;
}

.align-right
{
    text-align: right;
}

.align-center
{
    text-align: center;
}

.banner-image
{
    float: left;
    width: 20%;
    height: 200px;
    padding-bottom: 20px;
    margin-left: 30%;
    text-align: right;
}

.banner-textbox
{
    float: left;
    width: 30%;
    height: 200px;
    padding-bottom: 20px;
    margin-right: 20%;  
}

.banner-text
{
    margin-top: 75px;
    margin-left: 10px;
    width: 100%;
    color: #FFFFFF;
    font-family: monospace;
    font-size: 24px;
}

.banner-subtext
{
    margin-left: 10px;
    width: 100%;
    color: #d6d6d6;
    font-family: monospace;
    font-size: 16px;
}

.header1
{
    font-size: 24px;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: "Arial", Arial, serif;
    margin: 0;
}

.header2
{
    font-size: 18px;
    font-weight: bold;
    padding-top: 9px;
    padding-bottom: 9px;
    font-family: "Arial", Arial, serif;
    margin: 0;
}

.header3
{
    font-size: 14px;
    font-weight: bold;
    padding-top: 7px;
    padding-bottom: 7px;
    font-family: "Arial", Arial, serif;
    margin: 0;
}

.content-area
{
	background-color: #ADADAD;
    display: block;
    min-height: 100%;
    width: 75%;
	margin-left: 12.5%;
	font-family: "Arial", Arial, serif;
    font-size: 14px;
    color: #2D3035;
    padding: 10px;
}

.content-area:after
{
    content: "";
    display: block;
}

.footer
{
    background-color: white;
    text-align: center;
}


/* clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
